

html,
body {
    height: 100%;
    width: 100%;
    background-image: url("../img/loginImage.jpg");
    background-size: cover;

}
body {

    color: #eee;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

a{
    font-family: inherit;
    font-weight: 600;
    color: rgba(0,0,0,.5);
    font-size: 20px;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
    color: #5e5e5e;
}


.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
    color: #5e5e5e; /* IE8 proofing */

}


.form-signin-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media (min-width: 768px) {
    /* Pull out the header and footer */

    .mastfoot {
        text-align: center;
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 15px;
    margin-bottom: 10px;
    padding: 7px 9px;
    height: auto;
}