html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
ul, li{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

html{
    display: flex;
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    height: 7%;
    width: 100%;
}

.footer{
    display: flex;
    height: 5%;
    width: 100%;
}

ol, ul {
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("../img/gory-tuman-les.jpg");
    background-size: cover;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
}

.container{
    display: flex;
    justify-content: center;
    height: 88%;
    width: 100%;
}


.window-area{
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.chat-area{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0px;
    box-shadow: inset 0 1px 3px rgba(207, 218, 225, 0.42)
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 8px 5px 5px;
    height: 5%;
    min-height: 5%;
}

.title b{

    color: #5D7185;

}

.error{
    color: crimson;
}

.chat-list{
    display: flex;
    width: 100%;
    height: 87%;
    border-top: 1px solid #cfdae1;
    border-bottom: 1px solid #cfdae1;
    left: 0;
    top: 35px;
    right: 0;
    bottom: 44px;

}

.chat-list ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    vertical-align: baseline;
    outline: none;
    list-style: none;
}
.chat-list ul > li
{
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 8%;
    min-height: 8%;
    border-top: 1px solid #cfdae1;
    overflow: hidden;

}

.chat-list ul .name{
    display: flex;
    height: 100%;
    width: 25%;

    justify-content: center;
    padding: 2%;
    color: #5d7185;
    font-weight: bold;
}

.chat-list ul > li.me {
    background: #e4eaee;
}

.chat-list ul .name span{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-list ul .message{
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: flex-start;
    padding: 2%;
    font-size: 10px;
    border-left: 1px solid #cfdae1;
    float: left;
    color: #333f4d;

}

.chat-list  ul .delete-and-edit{
    display: flex;
    width: 15%;

    padding-top: 15px;
    padding-bottom: 15px;
    color: #333f4d;

}

.chat-list  ul .delete-and-edit .msg-time{
    display: flex;
    color: #738ba3;
    font-size: 9px;
    padding-left: 6px;
    padding-right: 1px;
}
.input-area{
    display: flex;
    flex-direction: row;
    height: 8%;
    min-height: 8%;
    background: #e4eaee;
    padding: 1%;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    border-top: 1px solid #cfdae1;

}
.input-wrapper{
    display: flex;
    width: 85%;
    border-bottom: 1px solid #bfc6e1;
    margin-right: 1%;
}

.input-area input[type="button"]{
    display: flex;
    width: 15%;
    padding: 0;
    justify-content: center;

}

.input-area .input-wrapper input{
	
    border: 0;
    margin: 0;
    padding: 0 1%;

    background-color: #e4eaee;
    border: none;
    color: #5D7185;
    width: 100%;
    float:right;
    cursor: pointer;
    outline: none;
    border-radius: 4px;

}

.input-area > input{
    background: #a0b4c0;
    border: none;
    color: #fff;
    border-radius: 5px;
    float:right;
    font-size: 15px;
    font-family: Corbel, Georgia, "Malgun Gothic";
    outline: none;

}
.right-tabs{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid #cfdae1;
}

.right-tabs > h2{

    padding-top: 10px;
    font-weight: bold;
    text-align: center;

}

ul.tabs-container{
    padding: 10px;
    color: #6e7f91;
}

.right-tabs ul > li.me-list{
    display: flex;
    flex-direction: row;
    background: #e4eaee;
}

.right-tabs ul > li.me-list span{
    display: flex;
    flex-basis: 80%;

}

.member-list > li{
    padding: 5px 0;
}

.delete-and-edit{
    display: flex;
    justify-content: flex-end;
    max-width: 15%;
}

 .me .delete-and-edit{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}



.delete-button, .edit-button{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    justify-content: center;
    padding-right: 5px;
}

.footer{
    display: flex;
    color: #cfdae1;
    font-size: 15px;

    font-family: 'MV Boli', Arial, sans-serif;
    justify-content: center;
    padding: 10px;
}

.edit-text{
    width: 100%;
    height: 100%;
    margin: 5px;
}

.edit-text-input, .edit-button-input{
    border-radius: 6px;
    margin: 0;
    border: 0;
}

.edit-text-input{

    width: 80%;
}

.edit-button-input{
    width: 20%;

    color: #5D7185;

}

@media only screen  {
    .window-wrapper{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 6px;
        margin: 0;
        border: 0;
    }

    .container{
        padding: 0;
    }
}
@media only screen and (min-width: 768px) and (min-device-width: 768px) {

    .window-wrapper{
        display: flex;
        justify-content: center;
        height: 100%;
        width: 60%;
        background: #fff;
        border: 0;
        border-radius: 6px;

        margin: 0;
    }


}

.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0;
    margin: 0;
    padding: 0 1%;
    width: 60%;
    border-bottom: 1px solid #bfc6e1;
}

.title input[type="text"]{
    width: 80%;
    border: none;
    color: #5D7185;
    float:right;
    cursor: pointer;
    outline: none;

}